@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit:wght@500&family=Lobster&family=Rubik+Iso&family=Rubik:ital,wght@0,500;1,400&family=Russo+One&display=swap');

/* Selector universal */
* {
    margin: .35rem;
    box-sizing: border-box;
}

/* Cabecera */

.header {
    position: fixed;
    top: 1px;
    right: 0;
    margin: 0;
    width: 100%;
    background: #fff;
    border:  .1rem solid rgb(40, 197, 200);
    z-index: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
}

.container-title {
    margin: 0 300px;
    text-align: center;
}

.logo {
    font-family: 'Kanit', sans-serif;
}

/* Cart */

.cart {
    position: fixed;
    top: 1px;
    right: 0;
    width: 460px;
    min-height: 100vh;
    background: #fff;
    padding: 20px;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.title-cart {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.img-cart {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}


.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.price-cart {
    font-weight: 700;
}

.quantity-cart {
    border: 1px solid #27b3d2;
    outline-color: #27b3d2;
    width: 2.1rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 20px;
    color: rgb(187, 8, 8);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid #000000;
}

.total-title {
    font-size: 1rem;
}

.total-price {
    font-size: 1rem;
}

.buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: rgb(3, 151, 3);
    color: #fff;
    cursor: pointer;
}

.buy:hover {
    background: rgb(0, 75, 0);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

/* Title Shop */

.container-tarjets {
    margin-top: 1.2rem;
}

.title-section {
    font-size: 1.8rem;
    font-family: 'Kanit', sans-serif; 
    text-align: center;
}

/* Products */

.tarjets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.content-tarjet {
    position: relative;
}

.content-tarjet:hover {
    padding: 10px;
    border: 1px solid #000000;
    transition: .4s;
}

.img-tarjet {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}

.title-tarjet {
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .5rem;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000000;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.add-cart:hover {
    background: #fff;
    color: red;
}



